*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
body{
    background-image:url("pexels-anni-roenkae-2599116.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh!important;
    width: 100%;
    text-align: center;
    color: white;
}
body:after{
    position: absolute;
    content: "";
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.174);
}
.container1{
    border-radius: 10px;
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 999;
    text-align: center;
    padding: 60px 32px;
    transform: translate(-50%, -50%);
    background: rgba(255,255,255,0.133);
    border: 1px solid #fff;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 6px 0 rgba(29,29,29,0.203);
    width: 600px;
}
.container2{
    width: 80%;
    margin-left: 50px;
}
.send_button {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 45px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.send_button:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.send_button:focus {
    outline: none;
}
.send_button.btn-2 {
    background-image: linear-gradient(
            to right,
            #a8a0fc,
            #f4a6ff,
            #2b80b7,
            #c706f3
    );
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
