*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
body{
    background-image:url("pexels-anni-roenkae-2599116.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh!important;
    width: 100%;
    text-align: center;
    color: white;
}
body:after{
    position: absolute;
    content: "";
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.174);
}
.content{
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    text-align: center;
    padding: 50px 32px;
    width:370px;
    transform: translate(-50%, -50%);
    background: rgba(255,255,255,0.133);
    border: 1px solid #fff;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 6px 0 rgba(29,29,29,0.203);
}
.content header{
    color: white;
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 35px;
    font-family: "Montserrat", sans-serif;
}
.btn-login {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 45px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.btn-login:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.btn-login:focus {
    outline: none;
}
.btn-login.btn1 {
    background-image: linear-gradient(
            to right,
            #a8a0fc,
            #f4a6ff,
            #2b80b7,
            #c706f3
    );
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.field{
    position: relative;
    height: 45px;
    width:100%;
    display: flex;
    background: rgba(255,255,255,0.94);
}
.field span{
    color: #222;
    width: 40px;
    line-height: 45px;
}
.field input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
    font-family: "Poppins",sans-serif;
}
.space{
    margin-top: 16px;
}
.show{
    position: absolute;
    right: 13px;
    font-size: 13px;
    font-weight: 700;
    color: #222;
    display: none;
    cursor: pointer;
    font-family: "Montserrat",sans-serif;
}
.pass-key:valid ~ .show{
    display: block;
}
.field input[type="submit"]{
    background: #222;
    border: 1px solid #222;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    font-family: "Montserrat",sans-serif;
    transition: .3s ease;
}
.field input[type="submit"]:hover{
    background: darkolivegreen;
}